* {
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  text-transform: uppercase;
}

.logo-text {
  font-size: 30px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.login button {
  border: none;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}
.menu-icon {
  display: none;
}

/* banner */
.banner-container {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5%;
  padding: 30px 10%;
  background-color: #f9fafa;
  gap: 20px;
}
.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-button {
  background-color: #f89646;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}
.about-button {
  background-color: #6bb7be;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}
.banner-image {
  width: 50%;
}

.banner-image img {
  width: 100%;
}

section,footer {
  margin: 5px 5%;
  padding: 30px 10%;
}

/* furniture section */

.furniture-container {
  margin-top: 40px;
}
.furniture-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0px;
}
.furniture-card {
  background-color: #f7fafa;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.furniture-card div img {
  width: 100%;
  height: 200px;
}

.furniture-card-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.furniture-card-text div button {
  border: none;
  background: none;
  cursor: pointer;
  color: #80aaae;
}

/* About us */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #f9fafa;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 50%;
}
.about-container button {
  width: 20%;
  padding: 10px 15px;
  border: none;
  background-color: #6bb7be;
  color: white;
  font-weight: bold;
}
.about-image{
  width: 50%;
}
.about-image img{
  width: 100%;
}


.heading{
     text-align: center;
}
.blog-card-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    
}
.blog-card{
    box-shadow: 3px 3px 5px 3px rgb(225, 224, 224);

}
.blog-card-container img{
    width: 100%;
}

.blog-card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px 20px;
}

.blog-card-content button{
    width: 50%;
    padding: 10px 2px;
    color: white;
    background-color: #6BB7BE;
    border: none;
}


/* testimonial */
.testimonial-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow:3px 3px 5px 3px rgb(225, 224, 224) ;
    margin: 20px 150px;
    padding: 10px 30px;
}


.testimonial-content-image img{
    max-width: 120px;
    max-height: 120px;
    border: 7px solid #6BB7BE;
    border-radius: 100%;
}
.name{
    color: #6BB7BE;
}

/* Contact Us */
.contact-us-container{
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #F9FAFA;
}

.contact-us-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:10px

}
.contact-us-content input,textarea{
  background-color: white;
  width: 100%;
  padding: 15px 20px;
  border:none;
  box-shadow: 2px 1px 2px 2px slategrey;
}

.contact-us-content button{
  width: 20%;
  background-color: #6BB7BE;
  border:none;
  padding: 10px 20px;
}


.contact-us-map{
  width: 50%;
}
.contact-us-map iframe{
  width: 100%;
  height: 460px;
}

/* Footer section */
.footer-container{
  background-color: #191E1F;
}

.footer-container-info{
  display: flex ;
  justify-content: space-between;
  text-align: center;
  color: white;
}

.footer-container-links{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 40px;
  color: white;
}
.links{
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}

.links div a{
  text-decoration: none;
  color: white;

}

.instagram-feed-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-top: 10px;
}

.instagram-feed-content div img{
  height: 40px;
  width: 40px;
  background-color: white;
  padding: 5px;
}

.subscribe-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe-container input{
  padding: 10px 20px;
  width: 100%;
}

.subscribe-container button{
  background-color:#6BB7BE ;
  border: none;
  width: 50%;
  padding: 10px 20px;
  color: white;
}

.social-media-container{
  display: flex;
  gap: 10px;
  color:#6BB7BE ;
}

.social-media-container div{
  border: 1px solid #6BB7BE;
  padding: 6px;
  border-radius: 5px;
}







/* Mobile */
@media screen and (max-width: 576px) {
  .menu-icon {
    display: inline-block;
  }
  .navbar ul {
    display: none;
  }
  .login {
    display: none;
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    background-color: #f9fafa;
  }

  .banner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }
  .banner-image {
    width: 100%;
  }

  .furniture-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 20px 0px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-content{
    width: 100%;
  }
  .about-image{
    width: 100%;
  }
  .about-container button{
    width: 30%;
    padding: 10px 10px;
  }
  .blog-card-container{
    grid-template-columns: repeat(1,1fr);
  }
  .testimonial-content-container{
    flex-direction: column;
    margin: 0px 0px;
    padding: 5px 10px;
  }
  .contact-us-container{
    flex-direction: column;
    gap: 10px;
  }
  .contact-us-content{
    width: 100%;
  }
  .contact-us-content input, textarea{
    padding: 15px 2px;
    
  }

  .contact-us-content button{
    width: 40%;
  }
  .contact-us-map{
    width: 100%;
  }
  .footer-container-info{
    flex-direction: column;
    gap:10px
  }
  .subscribe-container input{
    width: 75%;

  }

  .footer-container-links{
    flex-direction: column;
    gap: 10px;
  }

}

/* Tablet */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    padding: 5px 5%;
  }
  .navbar ul {
    gap: 10px;
  }
  .logo-text {
    font-size: 30px;
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    background-color: #f9fafa;
  }

  .banner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }
  .banner-image {
    width: 100%;
  }

  .furniture-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-content{
    width: 100%;
  }
  .about-image{
    width: 100%;
  }
  .blog-card-container{
    grid-template-columns: repeat(2,1fr);
  }

  .testimonial-content-container{
    margin: 0px 0px;
    padding: 5px 10px;
  }

  .contact-us-container{
    flex-direction: column;
  }
  .contact-us-content{
    width: 100%;
  }
  .contact-us-content input textarea{
    padding: 15px 5px;
  }
  .contact-us-map{
    width: 100%;
  }

  .footer-container-links{
    flex-direction: column;
    gap: 20px;
  }

  .subscribe-container input{
    padding: 10px 0px;
  }
}
